#homePage {
    display: flex;
    justify-content: center;
    height: 740px;
    width: auto;
}

#buttonContainer {
    display: flex;
    justify-content: center;
}

#overviewOverAllRooms {
    display: flex;
    justify-content: center;
}

.backgroundPage {
    display: flex;
    justify-content: center;
    height: 740px;
    width: auto;
}

/* Styling on all buttons */
.pushable {
    position: relative;
    background: transparent;
    padding: 0px;
    border: none;
    cursor: pointer;
    outline-offset: 4px;
    outline-color: deeppink;
    transition: filter 250ms;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.front {
    display: block;
    position: relative;
    border-radius: 8px;
    background: hsl(248, 53%, 58%);
    padding: 16px 32px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 1rem;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.pushable:hover {
    filter: brightness(110%);
}

.pushable:hover .front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.pushable:hover .shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
    outline: none;
}

/* End of styling */


/* Startpage Button */

.headline {
    text-align: center;

    margin: 0px;
}

#startButton {
    cursor: pointer;
    position: relative;
    top: 400px;
    left: 430px;

}

/* Introduction Button */
#introductionButton {
    align-items: center;
    cursor: pointer;
    position: relative;
    top: 550px;
}

/* Table buttons */
#kitchenButton {
    cursor: pointer;
    position: relative;
    top: 400px;
}

#firstAlternativeButton {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50px;
    right: 300px;
}

#secondAlternativeButton {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 350px;
}

#onTableButton {
    cursor: pointer;
    position: relative;
    top: 300px;
    left: 180px;
}

#crumbsOnTableButton {
    cursor: pointer;
    position: relative;
    top: 400px;
    right: 350px;

}

/* End of Table Buttons */


/* Start Door Buttons */

#bedroomDoorButton {
    cursor: pointer;
    background-color: transparent;
    border: transparent;


    padding: 100px;
    position: relative;
    top: 55px;
    right: 155px;
}

#livingRoomDoorButton {
    cursor: pointer;
    background-color: transparent;
    border: transparent;

    padding: 100px;
    position: relative;
    top: 55px;
    right: 126px;

}

#closetDoorButton {
    cursor: pointer;
    background-color: transparent;
    border: transparent;

    padding: 100px;
    position: relative;
    top: 55px;
    right: 40px
}

#bathroomDoorButton {
    cursor: pointer;
    background-color: transparent;
    border: transparent;

    padding: 100px;
    position: relative;
    top: 55px;
    left: 42px;

}

#atticDoorButton {
    cursor: pointer;
    background-color: transparent;
    border: transparent;

    padding: 205px 60px;
    position: relative;
    left: 120px;

}

/* End Door Buttons */

/* Bedroom */

#closetBedroom {
    cursor: pointer;
    background-color: transparent;
    border: transparent;

    padding: 170px 270px;
    position: relative;
    left: 450px;
}

#nachoBag {
    cursor: pointer;
    background-color: transparent;
    border: transparent;
}

#nachoBag img {
    width: 100px;
    height: 100px;

    position: relative;
    left: 400px;
}

#goBackButton {
    cursor: pointer;
    position: relative;
    top: 300px;
    left: 180px;
}

/* Livingroom */
#salsaJar {
    cursor: pointer;
    background-color: transparent;
    border: transparent;
}

#salsaJar img {
    width: 50px;
    height: auto;

    position: relative;
    left: 250px;
    top: 310px;
}

#secondGoBackButton {
    cursor: pointer;
    position: relative;
    top: 500px;
    left: 180px;
}

#aBlanket {
    cursor: pointer;
    background-color: transparent;
    border: transparent;
}

#aBlanket img {
    width: 170px;
    height: auto;

    position: relative;
    right: 230px;
    top: 350px;
}


/* Bathroom */

#showerCurtain {
    cursor: pointer;
    background-color: transparent;
    border: transparent;

    padding: 250px 130px;
    position: relative;
    right: 230px;
    top: 150px;
}

#theVeggies {
    cursor: pointer;
    background-color: transparent;
    border: transparent;
}

#theVeggies img {
    width: 100px;
    height: auto;

    position: relative;
    right: 130px;
    top: 200px;
}

#thirdGoBackButton {
    cursor: pointer;
    position: relative;
    top: 300px;
    left: 180px;
}

/* Attic */

#fluffyPillow {
    cursor: pointer;
    background-color: transparent;
    border: transparent;
}

#fluffyPillow img {
    width: 120px;
    height: auto;

    position: relative;
    right: 230px;
    top: 400px;
}

#pileOfTortillas {
    cursor: pointer;
    background-color: transparent;
    border: transparent;
}

#pileOfTortillas img {
    width: 110px;
    height: auto;

    position: relative;
    right: 160px;
    top: 200px;
}

#fourthGoBackButton {
    cursor: pointer;
    position: relative;
    top: 400px;
    left: 180px;
}


/* The Closet */

#closetDoor {
    cursor: pointer;
    background-color: transparent;
    border: transparent;

    padding: 307px 180px;
    position: relative;
    left: 10px;
}

#theNote {
    cursor: pointer;
    background-color: transparent;
    border: transparent;

    padding: 40px 40px;
    position: relative;
    left: 10px;
    top: 530px;
}

#theNoteButton {
    cursor: pointer;
    position: relative;
    top: 650px;
}

#firstEndingButton {
    position: relative;
    right: 10px;
    top: 550px
}

#secondEndingButton {
    position: relative;
    left: 10px;
    top: 550px
}

#backToHomepage {
    position: relative;
    top: 650px;
    left: 500px;
}